
.title-bar {
    color: white;
    text-align: center;
    padding: 100px 0 20px;
    position: relative;
    font-size: 3.0rem;
    top: 0;
    width: 100%;
}

.title-bar h1 {
    margin: 0;
    font-size: 2.5rem; 
    font-weight: bold; 
    color: rgb(255, 255, 255);
}


.mission-title {
    color: white; 
    font-size: 1.6rem; 
    text-align: center; 
    margin-top: 10px; 
}


.mission-text {
    color: white; 
    font-size: 1.2rem; 
    text-align: center; 
    margin: 20px auto; 
    width: 90%; 
}


.about-container {
    /*background-image: url('forest_1.jpg');*/
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: 25px;
}


.blocks-container {
    display: flex;
    justify-content: space-around; 
    padding: 20px;
}

.block {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.block:hover,
.block:focus, 
.block:active { 
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .blocks-container {
        flex-direction: column; 
        align-items: center;
    }

    .block {
        width: 80%; 
        margin-bottom: 20px; 
    }
}




.service-details {
    text-align: left;
}


.service-details ul {
    padding: 0; 
    list-style-type: none; 
}

.service-details li {
    margin-bottom: 10px; 
    position: relative; 
    padding-left: 15px; 
}

.service-details li::before {
    content: '|'; 
    position: absolute;
    left: 0;
    color: black; 
    font-weight: bold; 
}