* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh; /* Ensure it covers the whole page vertically */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at top, #26004d 45%, #6b00d6 55%, #06000d 70%);
}



.App-link {
  color: #61dafb;
}

img {
  width: 100%;
}

.App {
  position: relative;
}

.helloWorld {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: calc(55px + 2vmin);
  color: rgb(3, 3, 3);
}

.loginButton {
  font-size: calc(7px + 2vmin);
  text-align: center;
  font-weight: bold;
  line-height: 1.8;
  color: white;
  background-color: black;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
}

.loginButton:hover {
  background-color: #3d3c3c;
}
