.note-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
  
.note-input {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
}

.character-count {
    font-size: 14px;
    color: #777;
}

.saved-note{
    word-wrap:break-word; 
    word-break:break-all; 
    white-space: pre-wrap;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
}

.edit-save-button {
    position: absolute;
    bottom: 25px;
    right: 30px;
    background-color: #006980;
    color: white;
    padding: 3px 7px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.edit-save-button:hover {
    background-color: #004d59;
}
  