/* For Home.js page */

.searchBarContainer h1 {
  font-size: 3rem;
  color: #fff;
  height: 15vh;
  text-align: center;
  position: relative;
  top: 25vh;
  margin-bottom: 2rem;
}

.searchBarWrapper, .searchBarContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 5rem auto 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  div h1{
    color: white;
  }
}

/* For Search.js page */
.loadingMessage{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 100px;
}


/* Style for the main container of the Home page */
.homeContainer {
  background-color: #93C5FD; 
  min-height: 60vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Style for the welcome message */
.welcomeMessage {
  color: #000; 
  font-size: 4rem; 
  font-weight: bold; 
  text-align: left; /* Align text to the left */
  margin-top: -45rem; /* Space below the navbar */
  margin-left: -55rem; 
  letter-spacing: -0.05em;
}


/* support dark mode 
@media (prefers-color-scheme: dark) {
  .homePageContainer {
      background-color: #1E40AF;
  }
}*/