.inputWrapper{
    background-color: white;
    border-radius: 10px;
    height: 2.5rem;
    box-shadow: 10px 10px 15px #ddd;
    display:flex;
    align-items: center;
    padding-left: 20px;
    width: 400px;
    margin: 0 auto;
}

.inputWrapper input{
    background-color: transparent;
    border: none;
    /* height: 100%; */
    font-size: 1rem;
    width: 100%;
    margin-left: 10px;
}

input:focus{
     outline: none; 
}

#searchIcon{
    color: royalblue
}


